.container{
    margin-top :20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;

}
div{
    margin-bottom: 10px;
}
label{
    padding-left: 10px;
}

input[type='checkbox']{
    margin-left: 10px;;

}